<div class="container">
  <div class="row">
    <div class="offset-1 col-10">
      <br /><br />
      
      <h3 class="text-center">Grey Pink Universe</h3>

      <br />

      <div class="message">
        Hola Amigos,
        <div class="text-justify">
          We, operating from the city of Aeon, focus on Space and Universe Research & Analysis.
          Every year, millions of people await to join us under our Internship Program,
          and as expected, this year’s have been rolled out in 4 different phases.
          Applications are currently being invited through this Portal.
          Grab your seats by applying at the soonest possible by clicking on <i>Apply Now</i> in the navigation bar.
        </div>
        <em>Hurry Up, as we accept only 100 applications under each of the phases.</em>
      </div>
    </div>
  </div>
</div>